/* Main Structure */
body{
    background: #F2CEAE;
    font-family: 'Franklin Gothic Medium';
}

#main-text{
}

h1{
    color: #40352C;
    text-align: center;
}

h2{
    color: #6c5140;
}

h3{
    color: #574133;
}

p{
    padding: 8px;
    text-align: center;
}

#info{
    color: #8C6954;
}

#links{
    color: #8C7B26;
}

a:link{
    color: #bea732;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: #7c6d21;
    background-color: transparent;
    text-decoration: none;
}


/* Assignments/Projects Title */
#title{
    text-align: center;
}


/* Assignments/Projects Box */
#workbox{
}

/* Assignment/Project Sections */
.one{
    background:#ffebda;
    margin: 10px;
    border: 4px solid #5f4e41;
    padding: 0px;
    text-align:center;
}


/* Larger Screens */
@media (min-width: 768px) {
    .columns {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  
    .one {
      flex: 0 0 calc(33.333% - 20px);
      box-sizing: border-box;
    }
}


/* Smaller Screens */
@media (min-width: 767px){

}